/***** Reset Styles *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;*/
	vertical-align: baseline;
	background: transparent;
}

/********** General Styles **********/
html, body {font: 13px Arial, sans-serif; height: 100%;}

a:link, a:active {
	color: #2200C1;
	cursor: pointer;
}
a:visited {color: #551A8B;}
a:focus {outline: 1px dotted;}
/********** Main Styles **********/
body { background-color: #F5F5F5; }
	div#loading-screen {
		background-color: white;
		background-image: url(ajax_loader_gray_256.gif);
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 500;
	}
	#header{
		background-color:#EAEAEA;
		border-bottom:2px solid rgba(0,0,0,0.25);
		height: 35px;
		left: 0px;
		padding-top: 15px;
		position: absolute;
		right: 0px;
		top: 0;
	}
	#header-title{
		font: bold 20px 'lucida sans', 'trebuchet MS', 'Tahoma';
		float: left;
		height: 30px;
		margin-left: 127px;
		width: 200px;
	}
	#search-gallery  {
		float: right;
		margin-left: 20px;
		margin-right: 15px;
		width: 300px;
		visibility:hidden;
	}

	#search-gallery  .container {
		background-color: white;
		border: 1px solid silver;
		/*border-radius: 5px 5px 5px 5px;*/
		/*box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;*/
		display: inline-block;
		height: 22px;
		outline: 0 none;
		padding: 2px 0;
		position: relative;
		vertical-align: top;
		width: 100%;
		overflow: hidden;
	}

	#search-gallery .container img {
		display: inline-block;
		height: 16px;
		margin: 0;
		width: 16px;
		position: absolute;
		top: 5px;
		left: 2px;
	}

	#search-gallery .container input {
		left: 22px;
		position: absolute;
		right: 0;
		top: 4px;
		z-index: 0;
		border: 0 none;
		outline: 0 none;
		vertical-align: text-top;
		width: -moz-calc(100% - 20px);
	}
	/** countries **/
	#countries{
		float:left;
		margin-left:25px;
	}
	
	.country {
		margin: 10px auto;
		width: 1024px;
	}
	/** categories **/
	#categories > ol {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
		li.category {
			padding-left: 20px;
			padding-top: 6px;
			padding-bottom: 6px;
			cursor: pointer;
			position: relative;
		}
		li.category.selected {
			background: #3f93f6;
			text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
			color: white;
						
		}
			li.category.selected::after {
				background-image: url(arrow-gallery-cat-selected.png);
				background-repeat: no-repeat;
				background-position: 0 center;
				content: "";
				display: block;
				width: 20px;
				height: 100%;
				position: absolute;
				top: 0;
				right: -20px;
			}
	/** suggested sites **/
	#gallery-wrapper {
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 50px;
		top: 50px;
		overflow: hidden;
	}
	#gallery-content {
		position:absolute;
		top:10px;
		bottom:10px;
		left:10px;
		right:10px;
	}
		#categories {
			position:absolute;
			left:0px;
			width: 216px;
			font-family: 'Open Sans', arial, sans-serif;
			font-size: 13px;
			font-weight: bold;				
			overflow-y: auto;
			padding: 0 30px 0 0px;
		}

		#gallery{
			position:absolute;
			height: 100%;
			overflow: auto;
			left:250px;
			right:0px;
			overflow: auto;
			border:1px solid rgba(0,0,0,0.7)
		}
			#gallery-sites,
			#gallery-overlay{
				position:absolute;
				overflow: auto;
				top:0px;
				bottom:0px;
				left:0px;
				right:0px;
			}
			#gallery-overlay{
				z-index:10;
				display:none;
				background-color:white;
				opacity:0.75;
			}
		#shelf {
			height: 50px;
			position: absolute;
			bottom:5px;
			overflow: hidden;
			margin: auto;
			padding-left:10px;
			left:10px;
			right:10px;
			background-color: #EAEAEA;	
			--background-image: url(shelf_bg.png);
		}

		.gallery.site{
			position: relative;
			border:solid 1px rgba(0,0,0,0.4);
			margin: 8px;
			float: left;
			width : 170px;
			height: 110px;
			background-color: white;
			-moz-transition: box-shadow 0.25s ease-out;
			-webkit-transition:box-shadow 0.25s;
		}
		
		.gallery.site .overlay{
			display:block;
			position:absolute;width:100%;height:100%;
			opacity:1;
			background-image:-moz-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.27, rgb(250,247,245)),
				color-stop(1, rgb(255,255,255))
			);
			background-image:-webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.27, rgb(250,247,245)),
				color-stop(1, rgb(255,255,255))
			);			
		}
		
		.gallery.site .logo {
			display:none;
			position:absolute;left:5px;top:5px;right:5px;bottom:5px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.gallery.site .placeholder{
			display:none;
			-webkit-transition:opacity 0s;
			position:absolute;width:100%;height:100%;
			background-repeat:no-repeat;
			background-position:center;
			z-index: 1;			
		}
		/** .gallery.site has 4 modes: loading , error, available, selected **/
		/** loading **/
		.gallery.site.loading .placeholder{
			display:block;
			background-repeat:no-repeat !important;
			background-image: url(../newtab/images/ajax-loader.gif) !important;
		}
		/** error **/
		.gallery.site.error .placeholder{
			display:block;
			background-repeat:no-repeat !important;
			background-image: url(not_available_32.png) !important;
		}
		/** selected **/
		.gallery.site.selected {
			opacity:0.8;
		}
		.gallery.site.selected .placeholder{
			display:block;
			opacity:0.5;
			background-repeat:repeat !important;
			background-image: url(emptyArea.png) !important;
		}
		/** available **/
		.gallery.site.selected .logo,
		.gallery.site.available .logo {
			display:block;
		}
		
		.gallery.site.available:hover{
			cursor:pointer;
			box-shadow: 1px 1px 4px 2px #CCC;
		}
		
		.gallery.site.available .overlay{
			-webkit-transition:opacity 0.5s;
			-moz-transition:opacity 0.5s;
		}

		.gallery.site.available .placeholder{
			display:block;
			-moz-transition:opacity 0.5s;
			background-image: url(plus.png);
			opacity:0;
			cursor:pointer;
		}
		
		.gallery.site.available:hover .overlay{
			background-image:none;
		}
		.gallery.site.available:hover .placeholder{
			-webkit-transition:opacity 0.5s;
			opacity:0.5;
		}
		/** SHELF **/
		.shelf.site {
			cursor:pointer;
			border: 1px solid rgba(0, 0, 0, 0.55);
			position: relative;
			margin: 0 0px 0px 14px;
			float: left;
			width: 76px;
			height: 41px;
			background-color: white;
			background-position: center center;
			background-repeat: no-repeat;
			-webkit-background-size: contain;
			-moz-background-size: contain;
			background-size: contain;
			opacity: 1;
		}
		.shelf.site .logo {
			display:block;
			position:absolute;width:100%;height:100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		
		.shelf.site .placeholder{
			-moz-transition:opacity 0.5s;
			-webkit-transition:opacity 0.5s;
			position:absolute;
			top:1px;
			bottom:1px;
			width: 100%;
			background-image: url(x.png);
			background-repeat:no-repeat;
			background-position:center;
			opacity:0;
			z-index: 1;		
		}
		.shelf.site:hover .placeholder {
			opacity:1;
		}
		.shelf.site .overlay{
			cursor:pointer;
			position:absolute;
			top:-2px;
			bottom:0px;
			width: 100%;
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
		}

		#shelf .frame.placeholder{
			display:none;
			position:relative;
			float:right;
			-border:1px solid red;
			-box-shadow:0px 0px 1px 1px rgba(0,0,0,0.15) inset;
			-border-top: 1px solid rgba(0, 0, 0, 0.2);
			-border:1px solid rgba(255, 255, 255, 0.4);	
			border:1px solid rgba(0, 0, 0, 0.55)
		}
	
		#shelf-selected{
			float:right;
		}

		.shelf.empty{
			position:relative;
			float:right;
			opacity:0.6;
			top:0px;
			border: 1px solid rgba(0, 0, 0, 0.55);
			bottom:0px;
			width: 79px;
			height: 41px;
			background-image: url(emptyArea.png);
			background-repeat:repeat;
			background-size:auto;
		}
		.shelf.empty .overlay{
			position:absolute;width:100%;height:100%;
			background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.2) 0%, transparent 100%);
			background-image: -webkit-gradient(linear,center top , rgba(0, 0, 0, 0.2) 0%, transparent 100%);
		}

.separator {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin:10px 0px;
}		

	.gallery-button {
	    border: 0 none;
	    border-radius: 4px 4px 4px 4px;
	    color: white;
		float:right;
		height:40px;
	    cursor: pointer;
	    font-weight: bolder;
	    padding: 6px 17px;
		margin-right:10px;
		margin-top:2px;
		margin-left:10px;
	    text-shadow: 0 1px 1px black;
	}
		.normal   { background-color: #4493FA; }
		.disabled { background-color: #696969;}
		