.contents.plugin-content.list .item> span{
	color:#CCC;
}
.contents.plugin-content.list .item.selected > span{
	text-shadow: 0px 0px 20px white;
	color:white;
}

.plugin-button.sidebar{
	cursor:pointer;
	list-style: none;
	border: 1px solid rgba(0,0,0,0.1);
	height: 75px;
	background-size: 36px !important;
	background-position: center;
	background-repeat: no-repeat;	
}
.plugin-button.sidebar:hover{
	border: 1px solid rgba(0,0,0,0.4);
}

li.plugin-button.sidebar.add {				
	background-image: url('../images/icon-plus.png') !important;
}

li.plugin-button.sidebar.theme {				
	background-image: url('../images/icon-theme.png') !important;
}

li.plugin-button.sidebar.layout {				
	background-image: url('../images/icon-layout.png') !important;
}

li.plugin-button.sidebar.search {				
	background-image: url('../images/icon-search.png') !important;
}

li.plugin-button.sidebar.review {				
	background-image: url('/skin/review/cat_4.gif') !important;
	background-size: cover !important;
	background-position: -15px 15px;
	background-color:#4D4D4D;
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

li.plugin-button.sidebar.edit {				
	background-image: url('../images/icon-edit.png') !important;
}
#newtab.edit-mode li.plugin-button.sidebar.edit{
	background-color:rgba(255,255,255,0.2);
}

li.plugin-button.sidebar.close {				
	background-image: url('../images/icon-right.png') !important;
}

.header.contents.plugin-content.list .edit{
	background-image: url('../images/icon-edit.png') !important;
	background-size: 16px !important;
	background-position:center;
	background-repeat:no-repeat;
	width:24px;
	height:24px;
	float:right;
	opacity:0.1;
	-webkit-transition:opacity 200ms linear;
}
.header.contents.plugin-content.list .edit:hover{
	opacity:1;
}
.header.contents.plugin-content.list .remove{
	background-image: url('../images/icon-close.png') !important;
	background-size: 16px !important;
	background-position:center;
	background-repeat:no-repeat;
	width:24px;
	height:24px;
	float:right;
	opacity:0.1;
	-webkit-transition:opacity 200ms linear;
}
.header.contents.plugin-content.list .remove:hover{
	opacity:1;
}
.header.contents.plugin-content.list span{
	margin-right:5px;
}li.plugin-button.header.red span{
	cursor:pointer !important;
	background: -webkit-linear-gradient(top,#dd4b39,#b0281a) !important;
	background: -moz-linear-gradient(top,#dd4b39,#b0281a) !important;
	border-top: 1px solid rgba(0,0,0,0.6);
	border-bottom: 1px solid rgba(0,0,0,0.8);					
}	
li.plugin-button.header.red span:hover{
	background: -webkit-linear-gradient(top,#dd4b39,#d14836) !important;
	background: -moz-linear-gradient(top,#dd4b39,#d14836) !important;
	border-top: 1px solid rgba(0,0,0,1);
	border-bottom: 1px solid rgba(0,0,0,1);
}
li.plugin-button.header.blue span{
	cursor:pointer !important;
	background: -webkit-linear-gradient(top,#1471c1,#064ea0);
	background: -moz-linear-gradient(top,#1471c1,#064ea0);
	border-top: 1px solid rgba(0,0,0,0.6);
	border-bottom: 1px solid rgba(0,0,0,0.8);					
}
li.plugin-button.header.blue span:hover{
	background: -webkit-linear-gradient(top,#2177c9,#0F54A8) !important;
	background: -moz-linear-gradient(top,#2177c9,#0F54A8) !important;
	border-top: 1px solid rgba(0,0,0,1);
	border-bottom: 1px solid rgba(0,0,0,1);
}
li.plugin-button.header.green span{
	cursor:pointer !important;
	background: -webkit-linear-gradient(top,#6b9d28,#436b0c);
	background: -moz-linear-gradient(top,#6b9d28,#436b0c);
	border-top: 1px solid rgba(0,0,0,0.6);
	border-bottom: 1px solid rgba(0,0,0,0.8);					
}
li.plugin-button.header.green span:hover{
	cursor:pointer !important;
	background: #6b9d28 !important;
	border-top: 1px solid rgba(0,0,0,0.6);
	border-bottom: 1px solid rgba(0,0,0,0.8);					
}
li.plugin-button.header.black span{
	cursor:pointer !important;
	background: -webkit-linear-gradient(top,#444,#000);
	background: -moz-linear-gradient(top,#444,#000);
	border-top: 1px solid rgba(0,0,0,0.6);
	border-bottom: 1px solid rgba(0,0,0,0.8);					
}
li.plugin-button.header.icon span{
	background-position: 50% !important;
	background-repeat: no-repeat !important;
	background-size: 19px !important;	
	color: transparent !important;
	text-shadow: none !important;
	cursor:pointer !important;
	width:24px;
}

li.plugin-button.header.icon.edit span{
	background-image: url('../images/icon-edit.png') !important;
	background-size: 16px !important;
}
li.plugin-button.header.icon.close span{
	background-color:darkgray !important;
	background-image: url('../images/x-button.png') !important;
	background-size: 16px !important;
}
#newtab.edit-mode li.plugin-button.header.icon.edit span{
	background-image: url('../images/x-button.png') !important;
	background-size: 16px !important;
}	

li.plugin-button.header.icon.chrome span{
	background-image: url('../images/icon-chrome.png') !important;
}
li.plugin-button.header.icon.add span{
	background-image: url('../images/icon-plus.png') !important;
	background-size: 13px !important;
}
li.plugin-button.header.icon.add.not-added-yet span{
	background: url('../images/icon-plus.png') no-repeat scroll 50%,-webkit-linear-gradient(top,#dd4b39,#b0281a) !important;
	background: url('../images/icon-plus.png') no-repeat scroll 50%,-moz-linear-gradient(top,#dd4b39,#b0281a) !important;
	background-size: 13px,cover !important;
	border: 1px solid transparent !important;
}
li.plugin-button.header.add.icon.not-added-yet span:hover{
	background: url('../images/icon-plus.png') no-repeat scroll 50%,-webkit-linear-gradient(top,#dd4b39,#d14836) !important;
	background: url('../images/icon-plus.png') no-repeat scroll 50%,-moz-linear-gradient(top,#dd4b39,#d14836) !important;
	background-size: 13px,cover !important;
	border: 1px solid #992a1b !important;
}

